@model IEnumerable<Crunchers.Models.ProductModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            <a class="btn btn-default" href="@Url.RouteUrl(new {controller = "Catalog", action = "Index"})">Catalog &raquo;</a>
        </p>
    </div>
    <br/>
    <br/>
    @foreach (var product in Model)
    {
        <a href="/Catalog/Product?productId=@product.ProductId">
            <img src="@product.ImageLink" alt="Изображение отсутствует " width="300" height="300"/>
        </a>
        <a href="/Catalog/Product?productId=@product.ProductId">@product.ProductName</a>
        <br/>
    }

</div>